# Officials

* @Nexus-Mods/vortex-developers

# Contributors
# If you're on this list, you may of course remove yourself if you don't want to be involved
#   in future development
# When you add a game support extension, please add yourself here but please also include @TanninOne

/game-7daystodie* @nelson3219 @TanninOne
/game-kerbalspaceprogram/ @cybercatgurrl @TanninOne
/game-oni/ @newman55
# game-pathfinderkingmaker - Account seems to be deleted?
/game-stardewvalley/ @Pathoschild @TanninOne
/game-starsector/ @LazyWizard @TanninOne
/game-subnautica/ @cybercatgurrl @TanninOne
/game-subnauticabelowzero/ @AlexejheroYTB
/game-x4foundations/ @alexparlett @TanninOne
